{%- if site.posts.size > 0 -%}
<ul class="post-list">
	{%- for post in site.posts -%}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<span class="post-meta">{{ post.date | date: date_format }}</span>
		<h3>
			<a class="post-link" href="{{ post.url | relative_url }}">
				{{ post.title | escape }}
			</a>
		</h3>
		{%- if post.list-icon -%}
		<div>
			<img src="{{ post.list-icon |relative_url }}" height="100px" style="padding-right: 20px;" align="left"
				alt="">
			{{ post.content | strip_html | truncatewords: 30 }}
		</div>
		<div style="clear: left; margin-bottom: 15px"></div>
		{%- else -%}
		{{ post.content | strip_html | truncatewords: 50 }}
		{%- endif -%}
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}